#notfound {
    padding-block: 100px;
}

h1 {
    font-size: 11.25rem;
    line-height: 11.25rem;
    font-weight: 900;
    background-image: linear-gradient(to right, #FE8600, #F1AB00, #FE8600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.face span {
    padding: 20px;
    border-radius: 50%;
    background-color: #422508;
    font-size: 40px;
    border: .0625rem solid #fe870086;
}

.face {
    padding-block: 50px;
}

.face::after {
    content: "";
    position: absolute;
    bottom: 30px;
    left: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffbd06;
    animation: fade 2.5s ease-in-out infinite;
}

.face::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    background-color: #FF6900;
    animation: moveUpMoveDown 2s ease-in-out infinite;
}

@keyframes fade {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

@keyframes moveUpMoveDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
}

button {
    padding: 15px 20px;
    border-radius: 1.875rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    transition: transform 0.3s ease, color 0.3s ease, border-color 0.3s ease;

}

button:first-of-type {
    background-image: var(--btn-gradient);
    border: none;
    margin-left: 15px;
}

button:last-of-type {
    background-color: transparent;
    border: .0625rem solid rgb(61, 60, 60);
}

button:first-of-type:hover {
    transform: translateY(-5px);
}

button i {
    transition: transform 0.3s ease;
}


button:last-of-type:hover {
    border-color: var(--orange);
    color: var(--orange) !important;
}
@media (max-width: 576px){
    h1{
        font-size: 8.75rem;
        line-height: 8.75rem;
    }
    h2{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    button{
        width: 100%;
        margin-top: 20px;
    }
}