#footer::after {
    content: "";
    width: 100%;
    height: .0625rem;
    background-color: #353536;
    top: 0;
    left: 0;
    position: absolute;

}
.container-fluid {
    padding-inline: 100px;
}
#footer {
    padding-block: 50px;
}

.logo .inner span:first-of-type {
    padding: 8px 15px;
    background-image: var(--active-gradient);
    border-radius: 10px;
}

.logo .inner span {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
}

p,
ul li a {
    font-size: .875rem;
    line-height: 1.4375rem;
    font-weight: 400;
}

.logo .inner div a {
    padding: 8px 10px;
    background-color: #161616;
    margin-left: 8px;
    border-radius: 10px;
    font-size: 1.125rem;
    display: inline-block;
    transition: all 0.5s ease;
}

.logo .inner div a:hover {
    background-image: var(--active-gradient);
    color: white !important;
    transform: scale(1.08);
}

.inner h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    position: relative;
}

.inner h4::after {
    content: "";
    width: 35px;
    height: .1875rem;
    background-image: linear-gradient(to left, #F87115, #a94807);
    position: absolute;
    top: 50%;
    right: -16%;
}

.inner ul li a {
    position: relative;
    display: inline-block;
    transition: transform 0.4s ease, color 0.4s ease;
}

.inner ul li i {
    position: absolute;
    top: 50%;
    right: -20px;
    font-size: 12px;
    opacity: 0;
    transform: translateY(-50%) translateX(6px);
    transition: all 0.4s ease;
    color: var(--orange);
}

.inner ul li:hover a {
    color: var(--orange) !important;
    transform: translateX(-8px);
}

.inner ul li:hover i {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
}

input {
    width: 100%;
    padding: 12px;
    background-color: transparent;
    border-radius: 20px;
    border: .0625rem solid rgba(128, 128, 128, 0.436);
    margin-left: 15px;
    color: white;
    font-size: 1rem;
}

input:focus {
    border: .125rem solid var(--orange2);
    outline: none;
}

button {
    width: 100%;
    padding: 14px;
    border-radius: 30px;
    border: none;
    background-image: var(--active-gradient);
    font-size: 1rem;
    font-weight: 600;
    transition: transform 0.3s ease;
}
button:hover{
    transform: translateY(-3px);
}
@media (max-width: 576px) {
    .inner h4::after {
    right: -10%;
}
.container-fluid {
        padding-inline: 20px !important;
    }
}
@media (min-width: 576px) and (max-width: 992px){
    .container-fluid {
        padding-inline: 20px !important;
    }
}

@media (min-width: 	992px) and (max-width: 1200px){
.container-fluid{
    padding-inline: 20px !important;
 }
 .inner h4::after {
    right: -25%;
}
}