#whous {
    padding-top: 150px;
    padding-bottom: 100px;
}
#intro{
    padding-bottom: 100px;
}

h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 90px;
}

h1 span {
    color: var(--yellow);
}

.home-text p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.4375rem;
}

#whous .info .col .inner {
    background-color: #151414;
    border-radius: 20px;
    padding-block: 20px;
}

#whous .info i {
    font-size: 1.5rem;
    background-image: linear-gradient(to bottom, #FF6900, #FF6900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#whous .info span:first-of-type {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    background-image: linear-gradient(to left, #FBAD21, #F98519);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#whous .info span:last-of-type{
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
}
/*************************************************************************/
.ourvalues{
    padding-block: 100px;
    background-color: #0B0B0A;
    border-top: 1px solid rgba(128, 128, 128, 0.385);
}
h2{
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
}
.ourvalues .position-relative::after{
    content: "";
    position: absolute;
    background-image: linear-gradient(to bottom , #F3AB00, #FF7200);
    width: .375rem;
    height: 35px;
    border-radius: 20px;
    top: 0;
    left: -15px;
}
.ourvalues .position-relative::before{
    content: "";
    position: absolute;
    background-image: linear-gradient(to bottom , #FF7200, #F3AB00);
    width: .375rem;
    height: 35px;
    border-radius: 20px;
    top: 0;
    right: -15px;
}
.ourvalues div div .intro{
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
}
.ourvalues div div .inner h3
,.knownl .inner h4{
    font-size: 1.125rem;
    font-weight: 700;
    transition: all 0.3s ease;

}
.ourvalues div div .inner p{
    font-size: .875rem;
    font-weight: 400;
}
.ourvalues div div .inner i{
    font-size: 35px !important;
    margin-bottom: 15px;
}
.ourvalues div div .inner  {
    padding:30px 10px !important;
    height: 100%;
    transition: all 0.3s ease;
}
.ourvalues div div .inner:hover h3{
    color: var(--orange2) !important;
}
/***************************************************************************/
.knownl{
    padding-inline: 100px;
    
}
.knownl .inner {
    background-color: #161616;
    padding-block: 50px;
    border-radius: 20px;
    border: 1px solid black;
      transition:  all 0.3s ease;
}
.knownl .inner .image{
    width: 100px;
    border-radius: 50%;
    border: 4px solid transparent;
      transition:  all 0.3s ease;
}
.knownl .inner span{
    font-size: .875rem;
    font-weight: 500;
}
.knownl .inner a{
    padding: 7px;
    background-color: #404040aa;
    border-radius: 6px;
    margin-inline: 5px;
    font-size: 14px;
    transition:  all 0.3s ease;
}
.knownl .inner a:first-of-type:hover{
    background-color: #FF6900;
    color: white !important;
}
.knownl .inner a:nth-child(2):hover{
    color: white !important;
}
.knownl .inner a:last-of-type:hover{
    background-color: #155DFC;
    color: white !important;
}
.knownl .inner .image span{
    position:absolute;
    top: 44%;
    right: 40%;
    padding:2px 3px;
    border-radius: 50%;
    background-color: var(--orange2);
    font-size: 10px;
}
.knownl .inner:hover{
    border: 1px solid #ff660069;
}
.knownl .inner:hover .image{
    border: 4px solid #ff660069;
}
.que button{
    padding: 15px 30px;
    border-radius: 15px;
    margin-left: 10px;
    border: 1px solid transparent;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
    transition: all 0.3s ease;
}
.que button:first-of-type{
    background-color:black;
}
.que button:first-of-type:hover{
    transform: translateY(-3px);
}
.que button:last-of-type{
    background-color: transparent;
    border: 1px solid white;
}
.que button:last-of-type:hover{
    background-color: white;
    color: black !important;
}
.anyQ{
    background-image: linear-gradient(to bottom right,#F64B00,#F46E00 ,#F1AF01);
    padding-block: 100px;
}
div .container-fluid{
    padding-inline: 100px;
    margin-bottom: 100px;
}
@media (max-width: 576px) {
    div .container-fluid{
    padding-inline: 20px !important;
}
h1{
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.home-text p{
    font-size: 1.25rem;
    line-height: 2.0625rem;
}
.knownl{
    padding-inline: 0;
    
}
.que button{
    width: 100%;
}
h2{
    font-size: 1.875rem;
    line-height: 2.25rem;
}
}
@media (min-width: 576px) and (max-width: 768px){
        div .container-fluid{
    padding-inline: 20px !important;
}
h1{
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.home-text p{
    font-size: 1.25rem;
    line-height: 2.0625rem;
}
.knownl{
    padding-inline: 0;
    
}
}
@media (min-width: 768px) and (max-width: 1200px){
           div .container-fluid{
    padding-inline: 20px !important;
}
.knownl{
    padding-inline: 0;
    
}
}
@media (min-width: 1200px) and (max-width: 1400px){
    .knownl{
    padding-inline: 50px;
    
}
}