#blog {
    padding-block: 150px;
}

.container-fluid {
    padding-inline: 100px;
}

.span-style {
    background-color: #2C1A0B;
    padding-inline: .9375rem;
}

#blog h1 {
    font-size: 3.75rem;
    line-height: 3.75rem;
    font-weight: 700;
}

#blog h1 span {
    background-image: linear-gradient(to left, #FBAD21, #F98519);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#blog p {
    color: rgba(220, 220, 220, 0.778);
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;

}

#blog .search input {
    background-color: #161616;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    border: 2px solid black;
    color: white;
}

#blog .search input:focus {
    border: .125rem solid var(--orange2);
    outline: none;
}

#blog .search i {
    top: 35%;
    left: 5%;
}

.container-fluid {
    margin-top: 80px;
}

#blog .btn-filters button {
    padding: 8px 10px;
    background-color: #2a2a2ab1;
    border: 1px solid black;
    border-radius: 10px;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    margin-left: 10px;
    transition: all 0.5s ease;
}

#blog .btn-filters button:hover {
    border: .0625rem solid #ff660039;
}

#blog .container-fluid>.row:first-of-type::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: rgba(128, 128, 128, 0.25);
}


#blog .container-fluid>div:nth-child(2) div:first-of-type {
    font-size: 1rem;
    line-height: 1.5rem;

}

#blog .container-fluid>div:nth-child(2) div:last-of-type button {
    background-color: #2a2a2ab1;
    margin-left: 10px;
    border: 1px solid black;
    padding: 5px 8px;
    border-radius: 5px;
    transition: color 0.5s ease;
}

#blog .container-fluid>div:nth-child(2) div:last-of-type button:hover {
    color: white !important;
}
#blog .container-fluid>div:nth-child(2) div:last-of-type button.rest{
    font-size: 14px;
}
#blog .container-fluid>div:nth-child(2) div:last-of-type button.rest i{
    font-size: 12px;
}
#blog .container-fluid>div:nth-child(2) div:last-of-type button.rest:hover{
    color: var(--orange2) !important;
    
}

#blog .container-fluid .row .col .inner {
    background-color: #161616;
    border-radius: 1.25rem;
    border: .0625rem solid rgba(128, 128, 128, 0.248);
    overflow: hidden;
}

#blog .container-fluid .row .col .inner div.text-white-50 i {
    font-size: .75rem;
}

#blog .container-fluid .row .col .inner div.text-white-50,
#blog .container-fluid .row .col .inner p {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
}

#blog .container-fluid .row .col .inner div.text-white-50 span:nth-child(2) {
    width: 5px;
    height: 5px;
    display: block;
    border-radius: 50%;
    margin-inline: 10px;
}

#blog .container-fluid .row .col .inner h3,
#blog .list h3 {
    font-size: 1.25rem;
    line-height: 1.5625rem;
    font-weight: 700;
    transition: color 0.5s ease;
}

#blog .container-fluid .row .col .inner p,
#blog .list p {
    color: rgba(220, 220, 220, 0.778);
}

#blog .container-fluid .row .col .inner .card-footer .image,
#blog .list .card-footer .image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#blog .container-fluid .row .col .inner .card-footer span:first-of-type {
    font-size: .875rem;
    font-weight: 500;
}

#blog .container-fluid .row .col .inner .card-footer span:nth-child(2) {
    font-size: .75rem;
    font-weight: 400;
}

#blog .container-fluid .row .col .inner .card-footer::after {
    content: "";
    width: 95%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.248);
    border-radius: 10px;
    top: 0;
    right: 0;
    position: absolute;
}

#blog .container-fluid .row .col .inner .card-img span {
    background-color: #101010;
    padding: 6px 9px;
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 20px;
    font-size: .75rem;
    font-weight: 600;
}

#blog .container-fluid .row .col .inner .card-footer div.position-absolute {
    top: 30%;
    left: 10%;
    background-color: #281b1114;
    padding: 7px 6px;
    border-radius: 50%;
    font-size: .75rem;
    border: 1px solid rgba(255, 166, 0, 0.363);
    transition: all 0.5s ease;
}

#blog .container-fluid .row .col .inner .card-img::after,
#blog .list .card-img::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.4s ease;
    z-index: 2;
}

#blog .container-fluid .row .col .inner:hover .card-img::after,
#blog .list .post-wrapper:hover:hover .card-img::after {
    opacity: 1;
    transform: translateY(0);
}

#blog .container-fluid .row .col .inner .card-img img,
#blog .list .card-img img {
    transition: transform 0.5s ease;
}


#blog .container-fluid .row .col .inner:hover .card-img img,
#blog .list .post-wrapper:hover .card-img img {
    transform: scale(1.08);
}

#blog .container-fluid .row .col .inner:hover h3 {
    color: var(--orange) !important;
}

#blog .container-fluid .row .col .inner:hover .card-footer div.position-absolute {
    background-color: #FF6900;

}

#blog .container-fluid .row .col .inner:hover .card-footer div.position-absolute i {
    color: white !important;
}

#blog .move-pages button:not(:first-child):not(:last-child) {
    background-color: #2a2a2ab1;
    border-radius: 10px;
    border: none;
    padding: 10px 18px;
    margin-inline: 5px;

}

#blog .move-pages button:first-of-type,
#blog .move-pages button:last-of-type {
    background-color: #2a2a2ab1;
    border-radius: 10px;
    border: none;
    padding: 10px 13px;
}

/***************************************/
#blog .list p {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 400;
    color: rgba(220, 220, 220, 0.778);
}

#blog .list span {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
}

#blog .list span i {
    font-size: .75rem;
}

#blog .list div.text-white-50 span:first-of-type {
    background-color: #2E1E14;
    padding: 6px 10px;
    border-radius: 20px;
    border: .0625rem solid #ff660039;
    font-size: .75rem;
    line-height: 1.25rem;
    font-weight: 600;
}

#blog .list .card-footer span:first-of-type {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
}

#blog .list .card-footer span:last-of-type {
    font-size: .75rem;
    line-height: 1.25rem;
    font-weight: 400;
}

#blog .list .card-footer .read-guide span {
    display: inline-block;
    font-size: 16px;
    transition: all 0.3s ease;
}

#blog .list .post-wrapper:hover h3 {
    color: var(--orange) !important;
}

#blog .list .post-wrapper {
    border-radius: 20px;
    background-color: #161616;
    border: .0625rem solid rgba(128, 128, 128, 0.248);
    transition: all 0.3s ease;
}

#blog .list .post-wrapper:hover {
    border: .0625rem solid rgba(255, 166, 0, 0.363);
}

#blog .list .post-wrapper:hover .read-guide span {
    transform: translateX(3px);
}

.blog-controls {
    position: sticky;
    top: 10%; 
    background-color: #0b0b0b; 
    padding: 15px 0;
    z-index: 9999;
}
.notfound{
    padding-block: 100px;
}
.notfound .face{
    padding: 10px 15px;
    border-radius: 50%;
    background-color: #161616;
    font-size: 35px;
}
.notfound span{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}
.notfound p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}
.notfound button{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    background-image: var(--btn-gradient);
    padding: 15px 25px;
    border-radius: 25px;
    border: none;
    transition: all 0.3s ease;
    margin-top: 10px;
}
.notfound button:hover{
    transform: translateY(-3px);
}


@media (max-width: 576px) {
    .container-fluid {
        padding-inline: 20px !important;
    }

    #blog h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    #blog p {
        font-size: 1.25rem;
        line-height: 28px;
    }

    #blog .search {
        width: 100%;
        margin-block: 10px;
    }

    #blog .search input {
        width: 100%;
    }

    #blog .btn-filters {
        text-align: center;
        padding-inline: 20px;

    }

}

@media (min-width: 576px) and (max-width: 768px) {
    .container-fluid {
        padding-inline: 20px !important;
    }

    #blog h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    #blog p {
        font-size: 1.25rem;
        line-height: 28px;
    }

    #blog .search {
        width: 100%;
        margin-block: 10px;
    }

    #blog .search input {
        width: 100%;
    }

    #blog .btn-filters {
        padding-inline: 20px;

    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container-fluid {
        padding-inline: 20px !important;
    }
}
@media (min-width: 	992px) and (max-width: 1200px){
.container-fluid{
    padding-inline: 20px !important;
 }
}