#hello {
    padding-top: 150px;
    padding-bottom: 100px;
}
.container-fluid{
    padding-inline: 100px;
}
.span-style {
    padding: 6px 11px;
    padding-right: 40px;
    border-radius: 20px;
    font-size: .875rem;
    font-weight: 500;
    line-height: 20px;
    border: .0625rem solid var(--orange);
}
.span-style {
    position: relative;
}

.span-style::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--orange2);

    transform: translateY(-50%);
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: translateY(-50%) scale(1);
        
    }
    50% {
        transform: translateY(-50%) scale(1.08);
       
    }
    100% {
        transform: translateY(-50%) scale(1);
       
    }
}

.span-style::before{
    content: "";
    top:50%;
    right: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--orange2);
    position: absolute;
    transform: translateY(-50%);
    animation: fade 2s ease-in-out infinite;
}
@keyframes fade {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}
#hello .span-hello span {
    color: gainsboro !important;
}

h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 90px;
}

h1 span {
    color: var(--yellow);
}

.home-text p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.4375rem;
}

#hello .btn-info button {
    padding: 15px 20px;
    border-radius: 1.875rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    transition: transform 0.3s ease, color 0.3s ease, border-color 0.3s ease;

}

#hello .btn-info button:first-of-type {
    background-image: var(--btn-gradient);
    border: none;
    margin-left: 15px;
}

#hello .btn-info button:last-of-type {
    background-color: transparent;
    border: .0625rem solid rgb(61, 60, 60);
}

#hello .btn-info button:first-of-type:hover {
    transform: translateY(-5px);
}

#hello .btn-info button i,
#articles button i {
    transition: transform 0.3s ease;
}

#hello .btn-info button:first-of-type:hover i,
#articles button:hover i {
    transform: translateX(-3px);
}

#hello .btn-info button:last-of-type:hover {
    border-color: var(--orange);
    color: var(--orange) !important;
}


#hello .info .col .inner,
#Categories .inner {
    background-color: #151414;
    border: .0625rem solid rgb(61, 60, 60);
    border-radius: 20px;
    padding-block: 15px;
    transition: transform 0.3s ease;
}

#hello .info i {
    font-size: 1.5rem;
    background-image: linear-gradient(to bottom, #FF6900, #FF6900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hello .info span:first-of-type {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    background-image: linear-gradient(to left, #FBAD21, #F98519);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hello .info span:last-of-type,
#Categories .inner span:last-of-type {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
}

#hello .info .col .inner:hover {
    transform: scale(1.05)
}

/*************************************end hello****************************************/


h2 {
    font-size: 3.75rem;
    line-height: 75px;
    font-weight: 700;
}

#articles p:first-of-type {
    font-size: 18px;
    line-height: 1.8125rem;
    font-weight: 400;
}

#articles button,
#subscribe .inner div:nth-child(2) button {
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    background-image: var(--active-gradient);
    font-size: 1rem;
    font-weight: 600;
}

/* #articles .col.image div{
    height: 350px;
    background-color: #FBAD21 !important;
} */

#articles .col.image span {
    position: absolute;
    top: 8%;
    right: 2%;
    font-weight: 600;
    background-image: linear-gradient(to left, #F2AD00, #FF6C00);
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 14px;

}

#articles .col.image span i {
    font-size: 10px;

}

#articles .col.text div .light {
    font-size: .75rem;
    font-weight: 600;
    border: .0625rem solid var(--orange);
    border-radius: 15px;
    padding: 3px 10px;
    color: var(--orange2);

}

#articles .col.text span:last-of-type {
    font-size: .875rem;
    font-weight: 400;
    color: gray;
}

#articles .col.text h3 {
    font-size: 1.875rem;
    line-height: 2.375rem;
    font-weight: 700;
}

#articles .col.text p {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 400;
}

#articles .col.text .inner .card-footer .image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author-info::after {
    content: "";
    position: absolute;
    top: 70%;
    right: 28%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: var(--orange2);
}


.read-guide span {
    color: var(--orange2) !important;
}
/* #articles .col.image .inner{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#articles .col.text .inner{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
} */
#articles .col.image .inner,
#articles .col.text .inner {
    border: 1px solid black;
    transition: border 0.4s ease;
}

/* #articles .row-cols-1:hover .col.image .inner {
    border-top: 1px solid rgba(255, 166, 0, 0.363);
    border-bottom: 1px solid rgba(255, 166, 0, 0.363);
    border-right: 1px solid rgba(255, 166, 0, 0.363);
}

#articles .row-cols-1:hover .col.text .inner {
    border-top: 1px solid rgba(255, 166, 0, 0.363);
    border-bottom: 1px solid rgba(255, 166, 0, 0.363);
    border-left: 1px solid rgba(255, 166, 0, 0.363);
} */

#articles .article-title {
    transition: color 0.3s ease;
}


#articles .row-cols-1:hover .col.text .article-title {
    color: var(--orange) !important;
}

#articles .read-guide span strong {
    display: inline-block;
    transition: transform 0.3s ease;
}


#articles .row-cols-1:hover .col.text .read-guide span strong {
    transform: translateX(3px);
}

#articles .col.image .inner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.4s ease;
    z-index: 2;
}

#articles .col.image img {
    transition: transform 0.5s ease;
}

#articles .row-cols-1:hover .col.image .inner::after {
    opacity: 1;
    transform: translateY(0);
}

#articles .row-cols-1:hover .col.image img {
    transform: scale(1.08);
}

#articles .row-cols-1:not(:first-child) {
    cursor: pointer;
}

#articles .row-cols-1 {
    margin-top: 50px;
}

/**************************************************************end articles**********************************/
#Categories {
    padding-block: 150px;
}

#Categories .inner span:first-of-type {
    width: 50px;
    padding: 12px 15px;
    border-radius: 12px;
    border: 1px solid rgba(255, 166, 0, 0.27);
}

#Categories .inner span:nth-child(2) {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;

}

#Categories .inner {
    padding: 20px;

    transition: all 0.5s ease;
}

#Categories .inner div {
    top: 30%;
    left: 10%;
    width: 20px;
    padding: 5px 5px 2px 20px;
    border-radius: 50%;
    font-size: 12px;
    transition: all ease;


}

#Categories .inner:hover div {
    color: white !important;
    background-color: #FF9B33;
}

#Categories .inner:hover .d-inline-block {
    color: white !important;
    background-color: #FF9B33;
}

#Categories .inner:hover {
    background-image: linear-gradient(to right bottom, #FF6C00, #F1AE00);
    transform: translateY(-4px);
    cursor: pointer;
}

/****************************************end Categories******************************/
#new-articles {
    padding-bottom: 150px;
}

#new-articles .read-guide i {
    transition: all 0.5s ease;
}

#new-articles .read-guide:hover i {
    transform: translateX(-3px);

}

#new-articles .read-guide:hover {
    cursor: pointer;
}

#new-articles .container-fluid .row .col .inner {
    background-color: #161616;
    border-radius: 1.25rem;
    border: .0625rem solid rgba(128, 128, 128, 0.248);
    overflow: hidden;
}

#new-articles .container-fluid .row .col .inner div.text-white-50 i {
    font-size: .75rem;
}

#new-articles .container-fluid .row .col .inner div.text-white-50,
#new-articles .container-fluid .row .col .inner p {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
}

#new-articles .container-fluid .row .col .inner div.text-white-50 span:nth-child(2) {
    width: 5px;
    height: 5px;
    display: block;
    border-radius: 50%;
    margin-inline: 10px;
}

#new-articles .container-fluid .row .col .inner h3 {
    font-size: 1.25rem;
    line-height: 1.5625rem;
    font-weight: 700;
    transition: color 0.5s ease;
}

#new-articles .container-fluid .row .col .inner p {
    color: rgba(220, 220, 220, 0.778);
}

#new-articles .container-fluid .row .col .inner .card-footer .image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#new-articles .container-fluid .row .col .inner .card-footer span:first-of-type {
    font-size: .875rem;
    font-weight: 500;
}

#new-articles .container-fluid .row .col .inner .card-footer span:nth-child(2) {
    font-size: .75rem;
    font-weight: 400;
}

#new-articles .container-fluid .row .col .inner .card-footer::after {
    content: "";
    width: 95%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.248);
    border-radius: 10px;
    top: 0;
    right: 0;
    position: absolute;
}

#new-articles .container-fluid .row .col .inner .card-img span {
    background-color: #101010;
    padding: 6px 9px;
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 20px;
    font-size: .75rem;
    font-weight: 600;
}

#new-articles .container-fluid .row .col .inner .card-footer div.position-absolute {
    top: 30%;
    left: 10%;
    background-color: #281b1114;
    padding: 7px 6px;
    border-radius: 50%;
    font-size: .75rem;
    border: 1px solid rgba(255, 166, 0, 0.363);
    transition: all 0.5s ease;
}

#new-articles .container-fluid .row .col .inner .card-img::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.4s ease;
    z-index: 2;
}

#new-articles .container-fluid .row .col .inner:hover .card-img::after {
    opacity: 1;
    transform: translateY(0);
}

#new-articles .container-fluid .row .col .inner .card-img img {
    transition: transform 0.5s ease;
}


#new-articles .container-fluid .row .col .inner:hover .card-img img {
    transform: scale(1.08);
}

#new-articles .container-fluid .row .col .inner:hover h3 {
    color: var(--orange) !important;
}

#new-articles .container-fluid .row .col .inner:hover .card-footer div.position-absolute {
    background-color: #FF6900;

}

#new-articles .container-fluid .row .col .inner:hover .card-footer div.position-absolute i {
    color: white !important;
}

/************************************end new-articles ************************************/
#subscribe {
    padding-bottom: 150px;
}

#subscribe .inner div:first-of-type span {
    background-image: linear-gradient(to right bottom, #FF6500, #F74E00);
    padding: 13px 15px;
    font-size: 23px;
    border-radius: 10px;
}

#subscribe .inner div:nth-child(2) h4 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
}

#subscribe .inner div:nth-child(2) h4 span {
    background-image: linear-gradient(to left, #FBAD21, #F98519);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#subscribe .inner div:nth-child(2) p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgba(220, 220, 220, 0.778);
}

#subscribe .inner div:nth-child(2) input {
    width: 40%;
    padding: 18px;
    background-color: transparent;
    border-radius: 15px;
    border: .0625rem solid rgba(128, 128, 128, 0.436);
    margin-left: 15px;
    color: white;
    font-size: 1.125rem;
}

#subscribe .inner div:nth-child(2) button {
    background-color: transparent;
    padding: 18px 25px;

}

#subscribe .inner div:nth-child(2) input:focus {
    border: .0625rem solid var(--orange2);
    outline: none;
}

#subscribe .inner div.images div {
    width: 30px;
    border-radius: 50%;
}

#subscribe .inner div.images span {
    font-size: .875rem;
}

#subscribe .inner {
    background-color: #161616;
    border-radius: 25px;
    padding-block: 70px;
}
#subscribe .images {
    flex-wrap: wrap;
}


/***********************************************************MediaQuary***************************************************/
@media (max-width: 576px){
#hello h1{
    font-size: 3rem;
    line-height: 3.75rem;

}
#hello .home-text p{
    font-size: 1.25rem;
}
#hello .btn-info button{
    width: 100%;
    margin-top: 15px;
}
.container-fluid{
    padding-inline: 10px !important;
 }
 #hello .info span:first-of-type{
    font-size: 24px ;
 }
 h2{
    font-size: 2.25rem ;
    line-height: 40px;
    margin-top: 10px;
  }
 #articles button{
   padding: 14px 18px ;
 }
 #articles .col.image .inner{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
#articles .col.text .inner{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
#articles .row-cols-1:hover .col.image .inner {
    border-top: 1px solid rgba(255, 166, 0, 0.363) !important;
    border-left: 1px solid rgba(255, 166, 0, 0.363) !important;
    border-right: 1px solid rgba(255, 166, 0, 0.363) !important;
}

#articles .row-cols-1:hover .col.text .inner {
    border-right: 1px solid rgba(255, 166, 0, 0.363) !important;
    border-bottom: 1px solid rgba(255, 166, 0, 0.363) !important;
    border-left: 1px solid rgba(255, 166, 0, 0.363) !important;
}
#articles .col.text h3{
    font-size: 1.5rem ;
    line-height: 1.875rem;
}
#Categories .home-text p{
    font-size: 18px;
    margin-top: 0 !important;
}
#subscribe .inner div:nth-child(2) input{
    width: 100%;
    padding: 15px;
    margin-top: 15px;
}
#subscribe .inner div:nth-child(2) button{
    width: 100%;
    margin-top: 10px;
}
#subscribe .images span:last-of-type{
    margin-top: 10px;
}
#subscribe .inner div:nth-child(2) h4{
    font-size: 1.875rem;
}

}
@media (min-width: 576px) and (max-width: 768px){
#hello h1{
    font-size: 3rem;
    line-height: 3.75rem;

}
#hello .home-text p{
    font-size: 1.25rem;
}
#hello .btn-info button{
    width: 100%;
    margin-top: 15px;
}
.container-fluid{
    padding-inline: 10px !important;
 }
 #hello .info span:first-of-type{
    font-size: 24px ;
 }
 h2{
    font-size: 2.25rem ;
    line-height: 40px;
    margin-top: 10px;
  }
 #articles button{
   padding: 14px 18px ;
 }
 #articles .col.image .inner{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
#articles .col.text .inner{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
#articles .row-cols-1:hover .col.image .inner {
    border-top: 1px solid rgba(255, 166, 0, 0.363) !important;
    border-left: 1px solid rgba(255, 166, 0, 0.363) !important;
    border-right: 1px solid rgba(255, 166, 0, 0.363) !important;
}

#articles .row-cols-1:hover .col.text .inner {
    border-right: 1px solid rgba(255, 166, 0, 0.363) !important;
    border-bottom: 1px solid rgba(255, 166, 0, 0.363) !important;
    border-left: 1px solid rgba(255, 166, 0, 0.363) !important;
}
#articles .col.text h3{
    font-size: 1.5rem ;
    line-height: 1.875rem;
}
#Categories .home-text p{
    font-size: 18px;
    margin-top: 0 !important;
}
#subscribe .inner div:nth-child(2) input{
    width: 100%;
    padding: 15px;
    margin-top: 15px;
}
#subscribe .inner div:nth-child(2) button{
    width: 100%;
    margin-top: 10px;
}
#subscribe .images span:last-of-type{
    margin-top: 10px;
}
#subscribe .inner div:nth-child(2) h4{
    font-size: 1.875rem;
}

}


@media (min-width: 768px) and (max-width: 992px){
    .container-fluid{
    padding-inline: 20px !important;
 }
  #articles .col.image .inner{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
#articles .col.text .inner{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
#articles .row-cols-1:hover .col.image .inner {
    border-top: 1px solid rgba(255, 166, 0, 0.363) !important;
    border-left: 1px solid rgba(255, 166, 0, 0.363) !important;
    border-right: 1px solid rgba(255, 166, 0, 0.363) !important;
}

#articles .row-cols-1:hover .col.text .inner {
    border-right: 1px solid rgba(255, 166, 0, 0.363) !important;
    border-bottom: 1px solid rgba(255, 166, 0, 0.363) !important;
    border-left: 1px solid rgba(255, 166, 0, 0.363) !important;
}
}
@media (min-width: 	992px) and (max-width: 1200px){
.container-fluid{
    padding-inline: 20px !important;
 }
#articles .col.image .inner{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#articles .col.text .inner{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
} 
#articles .row-cols-1:hover .col.image .inner {
    border-top: 1px solid rgba(255, 166, 0, 0.363);
    border-bottom: 1px solid rgba(255, 166, 0, 0.363);
    border-right: 1px solid rgba(255, 166, 0, 0.363);
}

#articles .row-cols-1:hover .col.text .inner {
    border-top: 1px solid rgba(255, 166, 0, 0.363);
    border-bottom: 1px solid rgba(255, 166, 0, 0.363);
    border-left: 1px solid rgba(255, 166, 0, 0.363);
}
}
@media (min-width: 1400px){
    #articles .col.image .inner{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#articles .col.text .inner{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
} 
#articles .row-cols-1:hover .col.image .inner {
    border-top: 1px solid rgba(255, 166, 0, 0.363);
    border-bottom: 1px solid rgba(255, 166, 0, 0.363);
    border-right: 1px solid rgba(255, 166, 0, 0.363);
}

#articles .row-cols-1:hover .col.text .inner {
    border-top: 1px solid rgba(255, 166, 0, 0.363);
    border-bottom: 1px solid rgba(255, 166, 0, 0.363);
    border-left: 1px solid rgba(255, 166, 0, 0.363);
}
}